<!DOCTYPE html>
<html lang="en">
<head>
  <title>GiftEZ</title>
  <link href="/images/favicon.ico" rel="icon" type="image/x-icon" />
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Source+Sans+Pro:ital,wght@0,300;0,400;0,600;0,700;0,900;1,400&display=swap" rel="stylesheet">
  <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
      integrity="sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w=="
      crossorigin="anonymous"
    />
    <link href="/css/tailwind.css" rel="stylesheet" />
    <link rel="stylesheet" href="/css/style.css" />
  <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,400i,700" rel="stylesheet" />
  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body class="bg-gray-300 dark:bg-gray-700" style="font-family:Georgia, 'Times New Roman', Times, serif;">
  <script src="https://cdn.jsdelivr.net/gh/alpinejs/alpine@v2.x.x/dist/alpine.min.js" defer></script>

<!--Nav Bar -->
	<nav>
		<div class="container mx-auto px-6 py-2 flex justify-between items-center transition-fade">
		  <a class="font-bold text-2xl lg:text-4xl dark:text-gray-200 filter drop-shadow-lg" href="/">
			GiftEZ
		  </a>
		  
		  <div class="navbarMenu hidden lg:block">
			<ul class="inline-flex">
        {{#unless logged_in}}
			  <li><a class="px-4 font-bold dark:text-gray-200" href="/login">Sign In</a></li>
        {{/unless}}
        {{#if logged_in}}
        <li><a class="px-4 font-bold dark:text-gray-200" href="/profile">Dashboard</a></li>
        <li><a class="px-4 font-bold dark:text-gray-200" id="logout" href="/">Logout</a></li>
        {{/if}}
			  <li><a class="px-4 font-bold dark:text-gray-200" href="/about">About</a></li>
			</ul>
      <!-- Darkmode Button -->
      <div class="inline-block">
                  <label
                    for="switchTheme"
                    class="flex items-center cursor-pointer"
                  >
                    <div class="relative">
                      <input type="checkbox" id="switchTheme" class="sr-only" />
                      <div
                        class="block bg-gray-600 w-8 h-4 rounded-full dark:bg-gray-200"
                      ></div>
                      <div
                        class="dot absolute left-1 top-1 bg-white w-2 h-2 rounded-full transition dark:bg-gray-700"
                      ></div>
                    </div>
                    <div class="ml-2 text-gray-700 font-medium dark:text-gray-200">
                      Darkmode
                    </div>
                  </label>
                </div>
		  </div>
      <div class="block lg:hidden navbarBtnContainer">
			<button class="toggleNavbar flex items-center px-3 py-2 border rounded text-gray-500 border-gray-600 hover:text-gray-800 hover:border-teal-500 appearance-none focus:outline-none" type="button">
			  <svg class="fill-current h-3 w-3" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
				<title>Menu</title>
				<path d="M0 3h20v2H0V3zm0 6h20v2H0V9zm0 6h20v2H0v-2z" />
			  </svg>
			</button>
		  </div>
		</div>
    <!-- Display/Hide Cookie Banner -->
    <div class="bg-gray-100 flex items-center justify-center px-5 transition-fade" x-data="showBanner()" x-init="checkCookie()" id="cookieBanner">
            <section class=" p-5 lg:px-24 absolute top-0 bg-gray-600 z-50" id="" x-show="show">
            <div class="md:flex items-center -mx-3">
                <div class="md:flex-1 px-3 mb-5 md:mb-0">
                    <p class="text-center md:text-left text-white text-s leading-tight md:pr-12">We use cookies to improve user experience, and analyze website traffic. For these reasons, we may share your site usage data with our analytics partners.  By clicking “Accept Cookies”, you consent to store on your device all the technologies used in this application.</p>
                </div>
                <div class="px-3 text-center">
                    <button id="accept-cookies" class="py-2 px-8 bg-indigo-500 hover:bg-indigo-400 text-white rounded font-bold text-sm shadow-xl" @click.prevent="setCookie()">Accept Cookies</button>
                </div>
            </div>
            </section>
        </div>
	  </nav>
<!--End of Nav Bar -->

{{{body}}}

<!-- Footer -->
  <footer class="bg-gray-100 dark:bg-gray-500 transition-fade">
	<div class="container mx-auto px-6 pt-10 pb-6">
	  <div class="flex flex-wrap">
		<div class="w-full md:w-1/4 text-center md:text-left">
		  <h5 class="uppercase mb-6 font-bold text-indigo-500 dark:text-indigo-300">GiftEZ</h5>
		  <ul class="mb-4">
						<li class="mt-2">
			  <a href="/about" class="hover:underline text-gray-600 dark:text-gray-100">About Us</a>
			</li>
			<li class="mt-2">
			  <a href="/about" class="hover:underline text-gray-600 dark:text-gray-100">Contact</a>
			</li>
		  </ul>
		</div>
	  </div>
	</div>
  </footer>
<!-- End of Footer -->

<script src="https://unpkg.com/swup@latest/dist/swup.min.js"></script>
<script src="/js/animations.js"></script>
<script src="/js/theme.js"></script>
<script src="/js/navbar.js"></script>
<script src="/js/cookies.js"></script>
{{#if logged_in}}
<script src="/js/logout.js"></script>
{{else}}
<script src="/js/login.js"></script>
{{/if}}
</body>
</html>