<div class="h-screen w-1/2 mx-auto">
    <div class="py-16"></div>
  <div class="w-full shadow-2xl subpixel-antialiased rounded h-64 bg-black border-black mx-auto transition-fade">
    <div class="flex items-center h-6 rounded-t bg-gray-100 border-b border-gray-500 text-center text-black dark:bg-indigo-600 dark:border-indigo-500">
      <div class="flex ml-2 items-center text-center border-red-900 bg-red-500 shadow-inner rounded-full w-3 h-3">
      </div>
      <div class="ml-2 border-yellow-900 bg-yellow-500 shadow-inner rounded-full w-3 h-3">
      </div>
      <div class="ml-2 border-green-900 bg-green-500 shadow-inner rounded-full w-3 h-3">
      </div>
      <div class="mx-auto pr-16">
        <p class="text-center text-sm dark:text-indigo-100">Terminal</p>
      </div>

    </div>
    <div class="pl-1 pt-1 h-auto text-gray-200 font-mono text-s bg-black dark:bg-gray-900 dark:text-indigo-100 break-words">
      <p class="pb-1">Last login: Sat May 08 09:01:34 on giftEZ002</p>
      <p class="pb-1"><span class="text-purple-400 dark:text-green-400">GiftEZ:Project2 about-us$</span> cd Project-Developers</p>
      <p class="pb-1">==> /Project-Developers/Mike_and_Jakob_and_Kayte/</p><br>
      <p class="pb-1"><span class="text-purple-400 dark:text-green-400">GiftEZ:Project2 about-us$</span> git tech-used -v</p>
      <p class="pb-1">==> HTML5, CSS3, JavaScript</p>
      <p class="pb-1">==> NodeJS</p>
      <p class="pb-1">==> Tailwind 2.0</p>
      <p class="pb-1">==> Axios</p>
      <p class="pb-1">==> Express</p>
      <p class="pb-1">==> Nodemailer</p>
      <p class="pb-1">==> MySQL</p>
      <p class="pb-1">==> Rainforest API</p>
      <p class="pb-1">==> Sequelize</p><br>
      <p class="pb-1"><span class="text-purple-400 dark:text-green-400">GiftEZ:Project2 about-us$</span> git contact -v</p>
      <p class="pb-1">==> Michael Bussert <a href="https://github.com/mbussert" target="_blank" rel="noopener noreferrer">(GitHub: mbussert)</a></p>
      <p class="pb-1">==> Jakob Knicley <a href="https://github.com/fiskoal" target="_blank" rel="noopener noreferrer">(GitHub: fiskoal)</a></p>
      <p class="pb-1">==> Kayte McDonough <a href="https://github.com/usethehill" target="_blank" rel="noopener noreferrer">(GitHub: UseTheHill)</a></p><br>
    </div>
  </div> 
</div>