<!-- Hero Section -->
<div class="py-20" style="background: linear-gradient(90deg, #667eea 0%, #764ba2 100%)">
  <div class="container mx-auto px-6 transition-fade">
    <h2 class="text-4xl font-bold mb-2 text-white filter drop-shadow-lg">
      GiftEZ
    </h2>
    <h3 class="text-2xl mb-8 text-gray-200 filter drop-shadow-lg">
      Create a personalized online gift registry using Amazon.  Share your list with friends and family through email.
    </h3>
	{{#unless logged_in}}
    <button class="transition-fade bg-white font-bold rounded-full py-4 px-8 shadow-lg uppercase tracking-wider hover:bg-indigo-200 dark:hover:bg-indigo-700 dark:hover:text-indigo-100 dark:bg-indigo-600 dark:text-indigo-100" href="#signup-form">
      Sign Up
    </button>
	{{/unless}}
  </div>
</div>

{{#unless logged_in}}
<!--Sign up form -->
<div class="h-screen flex items-center justify-center">
	<form class="signup-form w-full md:w-1/3 bg-white rounded-lg items-center dark:bg-gray-600 shadow-2xl dark:shadow-2xl transition-fade" id="signup-form">
		<div class="flex font-bold justify-center mt-6">
		   <i class="fas fa-gift fa-5x text-indigo-700 filter drop-shadow-lg dark:text-indigo-300"></i>
		</div>
		<h2 class="text-3xl text-center text-indigo-500 mb-4 mt-4 dark:text-indigo-200">Get Started Now!</h2>
		<div class="px-12 pb-10">
			<div class="w-full mb-2">
			   <div class="flex justify-center">
				  <input type='text' id="username-signup" placeholder="Username"
					 class="px-8  w-full border rounded py-2 text-gray-700 focus:outline-none items-center dark:bg-gray-200 dark:text-gray-900 shadow-inner" />
			   </div>
			</div>
			<div class="w-full mb-2">
				<div class="flex justify-center">
				   <input type='text' id="firstname-signup" placeholder="First Name"
					  class="px-8  w-full border rounded py-2 text-gray-700 focus:outline-none items-center dark:bg-gray-200 dark:text-gray-900 shadow-inner" />
				</div>
			 </div>
			 <div class="w-full mb-2">
				<div class="flex justify-center">
				   <input type='text' id="lastname-signup" placeholder="Last Name"
					  class="px-8  w-full border rounded py-2 text-gray-700 focus:outline-none items-center dark:bg-gray-200 dark:text-gray-900 shadow-inner" />
				</div>
			 </div>
			 <div class="w-full mb-2">
				<div class="flex justify-center">
				   <input type='email' id="email-signup" placeholder="Email"
					  class="px-8  w-full border rounded py-2 text-gray-700 focus:outline-none items-center dark:bg-gray-200 dark:text-gray-900 shadow-inner" />
				</div>
			 </div>
			<div class="w-full mb-2">
			<div class="flex justify-center">   
			   <input type='password' id="password-signup" placeholder="Password"
				  class="px-8 w-full border rounded py-2 text-gray-700 focus:outline-none dark:bg-gray-200 dark:text-gray-900 shadow-inner" />
			</div>
			<button type="submit" class="w-full mt-6 py-2  rounded bg-indigo-500 text-gray-100  focus:outline-none dark:bg-indigo-500 transition-fade">Get Started!</button>
    </form>
    <a href="#" class="text-sm text-opacity-100 float-right mt-6 mb-4 text-indigo-700 dark:text-indigo-200">Forgot Password?</a>
    <a href="#" class="text-sm text-opacity-100 float-left mt-6 mb-8 text-indigo-700 dark:text-indigo-200">Create Account</a>
</div>
</div>
</div>
{{/unless}}