<div class="h-screen flex items-center justify-center">
	<form class="productSearchForm w-full md:w-1/3 bg-white rounded-lg items-center dark:bg-gray-600 shadow-2xl dark:shadow-2xl transition-fade">
		<div class="flex font-bold justify-center mt-6">
		   <i class="fas fa-gift fa-5x text-indigo-700 filter drop-shadow-lg dark:text-indigo-300"></i>
		</div>
        <div class="md:text-3xl text-3xl mt-4 font-bold transition-fade text-indigo-500 dark:text-indigo-200">Looking to add products to your wishlist?</div>
        <div class="text-xl font-normal mt-4 transition-fade text-indigo-500 dark:text-indigo-200 mb-4">Use the search below to browse thousands of products from Amazon.com.</div>
		<div class="px-12 pb-10">
			 <div class="w-full mb-2">
				<div class="flex justify-center">
				   <input placeholder="E.g. Socks"
					  class="productSearchInput px-8 w-full border rounded py-2 text-gray-700 focus:outline-none items-center dark:bg-gray-200 dark:text-gray-900 shadow-inner" />
				</div>
			 </div>
			<div class="w-full mb-2">
			<button type="submit" class="z-5 w-full mt-6 py-2  rounded bg-indigo-500 text-gray-100 focus:outline-none dark:bg-indigo-500 transition-fade">Search</button>
    </form>
</div>
</div>
</div>


<script src="/js/productSearch.js"></script>