* {
  font-family: 'Source Sans Pro', sans-serif;
}

@import url(https://cdnjs.cloudflare.com/ajax/libs/MaterialDesign-Webfont/5.3.45/css/materialdesignicons.min.css);
@-webkit-keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@-webkit-keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translate3d(0, 10%, 0);
  }
  to {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}
@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translate3d(0, 10%, 0);
  }
  to {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}

dialog[open] {
  -webkit-animation-duration: 0.3s;
  animation-duration: 0.3s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation-name: fadeInUp;
  animation-name: fadeInUp;
}
dialog::backdrop {
  background: rgba(0, 0, 0, 0.3);
  backdrop-filter: blur(3px);
  -webkit-animation-duration: 0.3s;
  animation-duration: 0.3s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation-name: fadeIn;
  animation-name: fadeIn;
}

header,
.project:not(:last-child) {
  border-bottom: 1px solid #ccc;
}

.no-button {
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
  color: #1b89bc;
  text-decoration: none;
  font-size: 100%;
}

.no-button:hover {
  color: #065b83;
  text-decoration: underline;
}

.dollar-amount {
  color: #056605;
  font-weight: bold;
  margin-left: -5px;
}

input:checked ~ .dot {
  transform: translateX(200%);
  background-color: #a3a3a3;
}

.hide-banner {
  display: none;
}

.transition-fade {
  transition: 0.5s;
  opacity: 1;
  transform: translateX(0);
  transform-origin: right;
}

html.is-animating .transition-fade {
  opacity: 0;
  transform: translateX(100%);
}

html.is-leaving .transition-fade {
  opacity: 0;
  transform: translateX(0);
}

/* Add Product Button */
.dropdown {
  position: relative;
  margin: 0 auto;
  width: 10rem;
}

.dropdown > .outer-list {
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  transform: scale(0);
  opacity: 0;
  visibility: hidden;
  transition: all 0.35s ease;
}

.dropdown > .outer-list.top {
  align-items: flex-start;
  transform-origin: 50% 0;
}

.dropdown > .outer-list.left {
  justify-content: flex-start;
}

.dropdown > .outer-list.bottom {
  align-items: flex-end;
  transform-origin: 50% 100%;
}

.dropdown > .outer-list.right {
  justify-content: flex-end;
}

.dropdown > .outer-list > ul {
  list-style: none;
  padding: 0;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background: rgba(255, 255, 255, 0.95);
  box-shadow: 0 0 2px 1px rgba(0, 0, 0, 0.1);
  border-radius: 0.2em;
}

.dropdown > .outer-list > ul li {
  padding: 0.25em 3em;
  margin: 0.25em;
  width: 100%;
  cursor: pointer;
  transition: background 0.35s ease;
}

.dropdown > .outer-list > ul li:hover {
  background: rgba(0, 0, 0, 0.07);
}

.drop-btn {
  position: relative;
  display: block;
  width: 100%;
  text-align: center;
  padding: 1em;
  border-radius: 0.15em;
  cursor: pointer;
  transition: all 0.35s ease;
  overflow: hidden;
}

.drop-btn:after {
  content: '';
  position: absolute;
  bottom: -50%;
  right: -50%;
  z-index: 1;
  overflow: hidden;
  width: 0;
  height: 0;
  border-radius: 50%;
  background: rgba(255, 255, 255, 0.35);
  transition: all 0.35s ease;
}

.drop-btn:active:after,
.drop-btn.dropdown-open:after {
  width: 200%;
  height: 200%;
}

.drop-btn:hover {
  box-shadow: inset 0 0 40px rgba(0, 0, 0, 0.1);
}

.drop-btn.dropdown-open + .outer-list {
  transform: scale(1);
  opacity: 1;
  visibility: visible;
}

/* Table Stuff */
thead tr th:first-child {
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}
thead tr th:last-child {
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}

tbody tr td:first-child {
  border-top-left-radius: 5px;
  border-bottom-left-radius: 0px;
}
tbody tr td:last-child {
  border-top-right-radius: 5px;
  border-bottom-right-radius: 0px;
}
